body {
    font-family: Arial, sans-serif;
    background-image: url('img/bt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f3f1f1;
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Space for the icon */
}

.password-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    cursor: pointer;
    user-select: none;
}

button {
    background-color: #e69d9d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #afb5ee;
}

.output {
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    /*background: #f4c5c5;*/
}

.password-tip {
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
    background-color:white;
}

.info {
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #f8f7f7;
    background-color: rgb(227, 91, 143);
}

.info ul {
    list-style-type: square;
    margin: 10px 0;
    padding-left: 20px;
}

.info p {
    margin: 10px 0;
}
